@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lobster&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-botonprimario: #FA8F13;
$color-botonsegundo:  #13fa13;
$color-botontercero:  #fa4513;
$color-botoncuarto: #b99363;
$color-botonquinto: #8313fa;

ul{
    li{
       
        list-style-type: none !important;
        a {
            text-decoration: none;
        }
    }
}





body {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #26272B;
}



.heroBackground {
  
    color: white;
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .logo {
        width: 90px;
    
    }
}



.buttonPresentations{
    width: auto;
    height: auto;
    padding: .5em;
    border-radius: .5em;
    background-color:$color-botonprimario;
    
    &--red{
        width: auto;
    height: auto;
    padding: .5em;
        border-radius: .5em;
        background-color:$color-botontercero;
        margin-right: 5em;
    margin-left: 5em;
        
            }
    &--green{
        width: auto;
        height: auto;
        padding: .5em;
        border-radius: .5em;
        background-color: $color-botonsegundo;
        margin-right: 5em;
    margin-left: 5em;
    }  
    &--brown{
        width: auto;
        height: auto;
        padding: .5em;
        border-radius: .5em;
        background-color:$color-botoncuarto;
        margin-right: 5em;
    margin-left: 5em;
    }  
    &--purple{
        width: auto;
        height: auto;
        padding: .5em;
        border-radius: .5em;
        background-color:$color-botonquinto;
        margin-right: 5em;
    margin-left: 5em;

    }    
}

 


.navContent {
    display: flex;
    width: 100%;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 10px;
    .nav-link {
        color: white;
        transition: all .5 ease;
        .nav-link:hover {
            color: rgb(221, 221, 221);
            
}
}
}

.nav {
    color: white;
    font-family: 'Roboto', sans-serif !important;
}


footer {
    display: block;
    box-sizing: border-box;
    height: 100px;
    background-color: #005F29;
    clip-path: ellipse(60% 100% at 51% 100%);
    color: white;
    .footer {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

}






.textoindex {
    padding: 5em;
    text-align: center;


}

.video1 {
    display: flex;
    justify-content: center;
}

.containergaleria {
    display: grid;
    gap: 5rem;
    padding: 5em;
    grid-auto-rows: rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

    .conteinerq {
        display: grid;
        grid-auto-rows: 22rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 1em;
        align-items: center;
    }
}

img {
    width: 300px;
    justify-self: center;

}



.title {
    font-size: 3em;
    font-family: 'Lobster', cursive;
    

}



.container__juani{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* stilo texto*/ 

.titleSection{
    margin: 5em;
}

.contacto{
    
    display: flex;
    align-items: flex-start;
    .contacto2{
        display: flex;
        
        height: 30px;
        margin-left: 1em;
}


}

.car{
    &Manu{
        background-color: rgb(218, 47, 140);

    }
    &Juani{
        background-color: rgb(119, 206, 219);
    }
}

.card-body{
    background-color: darkgrey;
}

.bnav{
    background-color: white;
}


@media only screen and (max-width:500px) {

    .containergaleria {
        grid-template-columns: 100%;
        grid-gap: 1rem;
    }
}